<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML Meta Tags -->
        <title>Dashboard</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/assets/favicon.ico">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

        <!-- Scripts -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="p-8 max-w-md m-auto bg-zinc-900 text-white text-center">
        <header class="mb-6">
            <h1 id="heading" class="text-3xl font-bold">Dashboard</h1>
        </header>

        <main>
            <!-- Create Redirect -->
            <div>
                <button id="create-btn" class="bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mb-6" onclick="showCreate()">Create Redirect</button>
            </div>

            <div id="create" class="mt-6 mb-10 hidden">
                <h2 class="text-2xl font-bold mb-4">Create Redirect</h2>

                <form id="create-redirect-form" onsubmit="createRedirect()">
                    <input type="password" id="create-password" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 mb-4" placeholder="Password" required>
                    <input type="text" id="create-path" maxlength="64" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 mb-4" placeholder="Redirect Path" required>
                    <input type="url" id="create-redirect" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 mb-6" placeholder="Redirect URL" required>

                    <div class="flex items-center mb-4">
                        <input type="checkbox" id="create-redirect-path" class="appearance-none w-4 h-4 bg-red-500 border-gray-600 checked:bg-green-500 rounded cursor-pointer">
                        <label for="create-redirect-path" class="ml-1.5 text-sm font-medium text-gray-300 cursor-pointer">Redirect Paths</label>
                    </div>

                    <button id="create-submit-btn" type="submit" class="bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5">Submit</button>
                </form>

                <div id="created-redirect" class="hidden">
                    <i class="fa-solid fa-check bg-green-600 px-3 py-2 rounded-full text-3xl mb-2"></i>
                    <h1 class="mb-6 text-2xl font-semibold">Redirect Created</h1>
                </div>

                <div id="create-error" class="hidden">
                    <i class="fa-solid fa-x bg-red-600 pt-2.5 pb-2 px-4 rounded-full text-3xl mb-2"></i>
                    <h1 id="create-error-text" class="mb-6 text-2xl font-semibold"></h1>
                </div>
            </div>

            <!-- Update Redirect -->
            <div>
                <button id="update-btn" class="bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mb-6" onclick="showUpdate()">Update Redirect</button>
            </div>

            <div id="update" class="mt-6 mb-10 hidden">
                <h2 class="text-2xl font-bold mb-4">Update Redirect</h2>

                <form id="update-redirect-form" onsubmit="updateRedirect()">
                    <input type="password" id="update-password" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 mb-4" placeholder="Password" required>
                    <input type="text" id="update-path" maxlength="64" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 mb-4" placeholder="Redirect Path" required>
                    <input type="url" id="update-redirect" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 mb-6" placeholder="Redirect URL" required>

                    <div class="flex items-center mb-4">
                        <input type="checkbox" id="update-redirect-path" class="appearance-none w-4 h-4 bg-red-500 border-gray-600 checked:bg-green-500 rounded cursor-pointer">
                        <label for="update-redirect-path" class="ml-1.5 text-sm font-medium text-gray-300 cursor-pointer">Redirect Paths</label>
                    </div>

                    <button id="update-submit-btn" type="submit" class="bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5">Submit</button>
                </form>

                <div id="updated-redirect" class="hidden">
                    <i class="fa-solid fa-check bg-green-600 px-3 py-2 rounded-full text-3xl mb-2"></i>
                    <h1 class="mb-6 text-2xl font-semibold">Redirect Updated</h1>
                </div>

                <div id="update-error" class="hidden">
                    <i class="fa-solid fa-x bg-red-600 pt-2.5 pb-2 px-4 rounded-full text-3xl mb-2"></i>
                    <h1 id="update-error-text" class="mb-6 text-2xl font-semibold"></h1>
                </div>
            </div>

            <!-- Delete Redirect -->
            <div>
                <button id="delete-btn" class="bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mb-6" onclick="showDelete()">Delete Redirect</button>
            </div>

            <div id="delete" class="mt-6 mb-10 hidden">
                <h2 class="text-2xl font-bold mb-4">Delete Redirect</h2>

                <form id="delete-redirect-form" onsubmit="deleteRedirect()">
                    <input type="password" id="delete-password" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 mb-4" placeholder="Password" required>
                    <input type="text" id="delete-path" maxlength="64" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 mb-4" placeholder="Redirect Path" required>

                    <button id="delete-submit-btn" type="submit" class="bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5">Submit</button>
                </form>

                <div id="deleted-redirect" class="hidden">
                    <i class="fa-solid fa-check bg-green-600 px-3 py-2 rounded-full text-3xl mb-2"></i>
                    <h1 class="mb-6 text-2xl font-semibold">Redirect Deleted</h1>
                </div>

                <div id="delete-error" class="hidden">
                    <i class="fa-solid fa-x bg-red-600 pt-2.5 pb-2 px-4 rounded-full text-3xl mb-2"></i>
                    <h1 id="delete-error-text" class="mb-6 text-2xl font-semibold"></h1>
                </div>
            </div>
        </main>

        <footer>
            <p>&copy; 2024 <span class="font-semibold">Trung</span> - All Rights Reserved.</p>
        </footer>
    </body>

    <script>
        document.title = `Dashboard | ${location.host}`;
        document.getElementById("heading").innerText = `${location.host}`;
    </script>

    <script src="/js/dashboard/forms.js"></script>
    <script src="/js/dashboard/submit.js"></script>
</html>
