<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML Meta Tags -->
        <title>Links | Trung</title>
        <meta name="description" content="A list of all of my links and social media.">
        
        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="Links | Trung">
        <meta itemprop="description" content="A list of all of my links and social media.">
        <meta itemprop="image" content="https://links.trung.is-a.dev/assets/meta/banner.png">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://links.trung.is-a.dev">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Links | Trung">
        <meta property="og:description" content="A list of all of my links and social media.">
        <meta property="og:image" content="https://links.trung.is-a.dev/assets/meta/banner.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Links | Trung">
        <meta name="twitter:description" content="A list of all of my links and social media.">
        <meta name="twitter:image" content="https://links.trung.is-a.dev/assets/meta/banner.png">

        <!-- Favicon -->
        <link rel="icon" type="shortcut icon" href="/assets/favicon.ico">

        <!-- Scripts -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="/tailwind.config.js"></script>
    </head>

    <body class="bg-backgroundColor">
        <section id="header" class="w-10/12 bg-backgroundAccent flex flex-col mx-auto rounded-md mt-10 md:w-8/12 lg:w-4/12">
            <!-- Profile Picture -->
            <div class="flex flex-col mx-auto my-6">
                <img class="rounded-full h-32 w-32" src="/assets/pfp.gif" alt="Profile Picture">
            </div>

            <!-- Info -->
            <div class="flex flex-col mx-auto mb-6">
                <h1 class="text-primaryText text-3xl font-bold text-center">Trung</h1>
            </div>
        </section>

        <!-- Links -->
        <section id="links" class="w-10/12 flex flex-col mx-auto mb-10 mt-1 md:w-8/12 lg:w-4/12">
            <!-- Website -->
            <a href="/website" id="website" class="bg-backgroundAccent my-1 h-24 text-primaryText flex-row flex rounded-link hover:bg-backgroundAccentLighter mx-auto sm:mx-auto md:mx-0">
                <div class="py-2 px-2 hidden md:flex"><img src="/assets/links/website.png" class="rounded-website h-20 w-20 hidden sm:hidden md:inline" alt="Website"></div>
                <div class="flex flex-col py-4 px-6">
                    <h3 class="text-xl text-primaryText text-center sm:text-center md:text-left">Personal Website</h3>
                    <span class="text-base text-secondaryText pt-1 text-center sm:text-center md:text-left">info.trung.is-a.dev</span>
                </div>
            </a>

            <!-- Developer Website -->
            <a href="/dev" id="dev" class="bg-backgroundAccent my-1 h-24 text-primaryText flex-row flex rounded-link hover:bg-backgroundAccentLighter mx-auto sm:mx-auto md:mx-0">
                <div class="py-2 px-2 hidden md:flex"><img src="/assets/links/dev.png" class="rounded-website h-20 w-20 hidden sm:hidden md:inline" alt="Developer Website"></div>
                <div class="flex flex-col py-4 px-6">
                    <h3 class="text-xl text-primaryText text-center sm:text-center md:text-left">Developer Website</h3>
                    <span class="text-base text-secondaryText pt-1 text-center sm:text-center md:text-left">info.trung.is-a.dev</span>
                </div>
            </a>

            <!-- Bot list -->
            <a href="/botlist" id="dev" class="bg-backgroundAccent my-1 h-24 text-primaryText flex-row flex rounded-link hover:bg-backgroundAccentLighter mx-auto sm:mx-auto md:mx-0">
                <div class="py-2 px-2 hidden md:flex"><img src="/assets/links/dev.png" class="rounded-website h-20 w-20 hidden sm:hidden md:inline" alt="Developer Website"></div>
                <div class="flex flex-col py-4 px-6">
                    <h3 class="text-xl text-primaryText text-center sm:text-center md:text-left">Bots List</h3>
                    <span class="text-base text-secondaryText pt-1 text-center sm:text-center md:text-left">bots.trung.is-a.dev</span>
                </div>
            </a>

            <!-- Discord -->
            <a href="/discord" id="discord" class="bg-backgroundAccent my-1 h-24 text-primaryText flex-row flex rounded-link hover:bg-backgroundAccentLighter mx-auto sm:mx-auto md:mx-0">
                <div class="py-2 px-2 hidden md:flex"><img src="https://static-cdn.wdh.gg/social/discord.svg" class="rounded-full h-20 w-20 hidden sm:hidden md:inline" alt="Discord"></div>
                <div class="flex flex-col py-4 px-6">
                    <h3 class="text-xl text-primaryText text-center sm:text-center md:text-left">Discord</h3>
                    <span class="text-base text-secondaryText pt-1 text-center sm:text-center md:text-left">trungisreal</span>
                </div>
            </a>

            <!-- Discord Server -->
            <a href="/discordserver" id="discord" class="bg-backgroundAccent my-1 h-24 text-primaryText flex-row flex rounded-link hover:bg-backgroundAccentLighter mx-auto sm:mx-auto md:mx-0">
                <div class="py-2 px-2 hidden md:flex"><img src="https://static-cdn.wdh.gg/social/discord.svg" class="rounded-full h-20 w-20 hidden sm:hidden md:inline" alt="Discord"></div>
                <div class="flex flex-col py-4 px-6">
                    <h3 class="text-xl text-primaryText text-center sm:text-center md:text-left">Discord Server</h3>
                    <span class="text-base text-secondaryText pt-1 text-center sm:text-center md:text-left">Mystic Support</span>
                </div>
            </a>

            <!-- GitHub -->
            <a href="/github" id="github" class="bg-backgroundAccent my-1 h-24 text-primaryText flex-row flex rounded-link hover:bg-backgroundAccentLighter mx-auto sm:mx-auto md:mx-0">
                <div class="py-2 px-2 hidden md:flex"><img src="https://static-cdn.wdh.gg/social/github.svg" class="rounded-full h-20 w-20 hidden sm:hidden md:inline" alt="GitHub"></div>
                <div class="flex flex-col py-4 px-6">
                    <h3 class="text-xl text-primaryText text-center sm:text-center md:text-left">GitHub</h3>
                    <span class="text-base text-secondaryText pt-1 text-center sm:text-center md:text-left">vuthanhtrung2010</span>
                </div>
            </a>

            <!-- Status -->
            <a href="/status" id="status" class="bg-backgroundAccent my-1 h-24 text-primaryText flex-row flex rounded-link hover:bg-backgroundAccentLighter mx-auto sm:mx-auto md:mx-0">
                <div class="py-2 px-2 hidden md:flex"><img src="/assets/links/status.png" class="rounded-full h-20 w-20 hidden sm:hidden md:inline" alt="Status"></div>
                <div class="flex flex-col py-4 px-6">
                    <h3 class="text-xl text-primaryText text-center sm:text-center md:text-left">Status</h3>
                    <span class="text-base text-secondaryText pt-1 text-center sm:text-center md:text-left">uptime.trung.is-a.dev</span>
                </div>
            </a>
        </section>
    </body>
</html>
